
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400&family=Poppins:wght@200;400;500;600;700&family=Rancho&display=swap');
.App {
    box-sizing: border-box;
    display: flex;
    margin: 0;
    padding: 0;
    min-width: 100%;
    font-family: 'Poppins';
}

Menu{
    display: inline-block;
}
